<!DOCTYPE html>
<html>
<head>
    {%- block head %}
    <title>brewkometrics</title>

    {%- block metas %}
    <!-- metas here -->
    {%- endblock metas %}

    {%- block styles %}
    <link href="{{ url_for('static', filename='css/bootstrap.min.css') }}" rel="stylesheet">
    {%- endblock styles %}
    {%- endblock head %}
</head>
<body>
    {% block body -%}
    {% block navbar %}
    <!-- navbar here -->
    {%- endblock navbar %}
    {% block content -%}
        <!-- TODO: flash messages-->
        <!--{% for message in get_flashed_messages() %}
        <div class="alert alert-warning">
            <button type="button" class="close" data-dismiss="alert">&times;</button>
            {{ message }}
        </div>
        {% endfor %}-->
    <!-- page content here -->
    {%- endblock content %}

    {% block scripts %}
    <script src="{{ url_for('static', filename='js/jquery/jquery-2.2.4.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/bootstrap/bootstrap.min.js') }}"></script>
    {%- endblock scripts %}
    {%- endblock body %}
</body>
</html>
